<!DOCTYPE html>
<html>
<head>
  <title>Welcome to SHOOS</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/shoes/new">Place an order</a></li>
      <li><a href="/shoes">Current orders</a></li>
    </ul>
  </nav>
<%= yield %>
</body>
</html>